<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>biufang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>229F490B1D9B589C00D62709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229F49241D9B589D00D62709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229F492F1D9B589D00D62709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
